### DATA ACQUISITION

In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

print the first 3 rows

print the number of rows and columns (shape)

print the column names

print the data type of each column

print the summary statistics for each of the numeric variables

In [1]:
import numpy as np
import pandas as pd
import env
from pydataset import data

In [2]:
df_iris = data('iris')

In [3]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [4]:
df_iris.shape

(150, 5)

In [5]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [6]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Read the data from this google sheet into a dataframe, df_google.

print the first 3 rows

print the number of rows and columns

print the column names

print the data type of each column

print the summary statistics for each of the numeric variables

print the unique values for each of your categorical variables

In [7]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
csv_export_url

'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/export?format=csv&gid=341089357'

In [8]:
df_google = pd.read_csv(csv_export_url)

In [9]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [10]:
df_google.shape

(891, 12)

In [11]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [12]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [13]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [14]:
df_google.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

assign the first 100 rows to a new dataframe, df_excel_sample

print the number of rows of your original dataframe

print the first 5 column names

print the column names that have a data type of object

compute the range for each of the numeric variables.

In [15]:
df_excel = pd.read_excel('train.xlsx')

In [16]:
df_excel_sample = df_excel.iloc[0:100]

In [17]:
df_excel_sample

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.0,3.0,"Braund, Mr. Owen Harris",male,22.00,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2.0,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.00,1.0,0.0,PC 17599,71.2833,C85,C
2,3.0,1.0,3.0,"Heikkinen, Miss. Laina",female,26.00,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S
3,4.0,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1.0,0.0,113803.0,53.1000,C123,S
4,5.0,0.0,3.0,"Allen, Mr. William Henry",male,35.00,0.0,0.0,373450.0,8.0500,NaN,S
5,6.0,0.0,3.0,"Moran, Mr. James",male,NaN,0.0,0.0,330877.0,8.4583,NaN,Q
6,7.0,0.0,1.0,"McCarthy, Mr. Timothy J",male,54.00,0.0,0.0,17463.0,51.8625,E46,S
7,8.0,0.0,3.0,"Palsson, Master. Gosta Leonard",male,2.00,3.0,1.0,349909.0,21.0750,NaN,S
8,9.0,1.0,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0.0,2.0,347742.0,11.1333,NaN,S
9,10.0,1.0,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1.0,0.0,237736.0,30.0708,NaN,C
10,11.0,1.0,3.0,"Sandstrom, Miss. Marguerite Rut",female,4.00,1.0,1.0,PP 9549,16.7000,G6,S
11,12.0,1.0,1.0,"Bonnell, Miss. Elizabeth",female,58.00,0.0,0.0,113783.0,26.5500,C103,S
12,13.0,0.0,3.0,"Saundercock, Mr. William Henry",male,20.00,0.0,0.0,A/5. 2151,8.0500,NaN,S
13,14.0,0.0,3.0,"Andersson, Mr. Anders Johan",male,39.00,1.0,5.0,347082.0,31.2750,NaN,S
14,15.0,0.0,3.0,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0.0,0.0,350406.0,7.8542,NaN,S
15,16.0,1.0,2.0,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0.0,0.0,248706.0,16.0000,NaN,S
16,17.0,0.0,3.0,"Rice, Master. Eugene",male,2.00,4.0,1.0,382652.0,29.1250,NaN,Q
17,18.0,1.0,2.0,"Williams, Mr. Charles Eugene",male,NaN,0.0,0.0,244373.0,13.0000,NaN,S
18,19.0,0.0,3.0,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31.00,1.0,0.0,345763.0,18.0000,NaN,S
19,20.0,1.0,3.0,"Masselmani, Mrs. Fatima",female,NaN,0.0,0.0,2649.0,7.2250,NaN,C
20,21.0,0.0,2.0,"Fynney, Mr. Joseph J",male,35.00,0.0,0.0,239865.0,26.0000,NaN,S
21,22.0,1.0,2.0,"Beesley, Mr. Lawrence",male,34.00,0.0,0.0,248698.0,13.0000,D56,S
22,23.0,1.0,3.0,"McGowan, Miss. Anna ""Annie""",female,15.00,0.0,0.0,330923.0,8.0292,NaN,Q
23,24.0,1.0,1.0,"Sloper, Mr. William Thompson",male,28.00,0.0,0.0,113788.0,35.5000,A6,S
24,25.0,0.0,3.0,"Palsson, Miss. Torborg Danira",female,8.00,3.0,1.0,349909.0,21.0750,NaN,S
25,26.0,1.0,3.0,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38.00,1.0,5.0,347077.0,31.3875,NaN,S
26,27.0,0.0,3.0,"Emir, Mr. Farred Chehab",male,NaN,0.0,0.0,2631.0,7.2250,NaN,C
27,28.0,0.0,1.0,"Fortune, Mr. Charles Alexander",male,19.00,3.0,2.0,19950.0,263.0000,C23 C25 C27,S
28,29.0,1.0,3.0,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0.0,0.0,330959.0,7.8792,NaN,Q
29,30.0,0.0,3.0,"Todoroff, Mr. Lalio",male,NaN,0.0,0.0,349216.0,7.8958,NaN,S
30,31.0,0.0,1.0,"Uruchurtu, Don. Manuel E",male,40.00,0.0,0.0,PC 17601,27.7208,NaN,C
31,32.0,1.0,1.0,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1.0,0.0,PC 17569,146.5208,B78,C
32,33.0,1.0,3.0,"Glynn, Miss. Mary Agatha",female,NaN,0.0,0.0,335677.0,7.7500,NaN,Q
33,34.0,0.0,2.0,"Wheadon, Mr. Edward H",male,66.00,0.0,0.0,C.A. 24579,10.5000,NaN,S
34,35.0,0.0,1.0,"Meyer, Mr. Edgar Joseph",male,28.00,1.0,0.0,PC 17604,82.1708,NaN,C
35,36.0,0.0,1.0,"Holverson, Mr. Alexander Oskar",male,42.00,1.0,0.0,113789.0,52.0000,NaN,S
36,37.0,1.0,3.0,"Mamee, Mr. Hanna",male,NaN,0.0,0.0,2677.0,7.2292,NaN,C
37,38.0,0.0,3.0,"Cann, Mr. Ernest Charles",male,21.00,0.0,0.0,A./5. 2152,8.0500,NaN,S
38,39.0,0.0,3.0,"Vander Planke, Miss. Augusta Maria",female,18.00,2.0,0.0,345764.0,18.0000,NaN,S
39,40.0,1.0,3.0,"Nicola-Yarred, Miss. Jamila",female,14.00,1.0,0.0,2651.0,11.2417,NaN,C
40,41.0,0.0,3.0,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1.0,0.0,7546.0,9.4750,NaN,S
41,42.0,0.0,2.0,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27.00,1.0,0.0,11668.0,21.0000,NaN,S
42,43.0,0.0,3.0,"Kraeff, Mr. Theodor",male,NaN,0.0,0.0,349253.0,7.8958,NaN,C
43,44.0,1.0,2.0,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1.0,2.0,SC/Paris 2123,41.5792,NaN,C
44,45.0,1.0,3.0,"Devaney, Miss. Margaret Delia",female,19.00,0.0,0.0,330958.0,7.8792,NaN,Q
45,46.0,0.0,3.0,"Rogers, Mr. William John",male,NaN,0.0,0.0,S.C./A.4. 23567,8.0500,NaN,S
46,47.0,0.0,3.0,"Lennon, Mr. Denis",male,NaN,1.0,0.0,370371.0,15.5000,NaN,Q
47,48.0,1.0,3.0,"O'Driscoll, Miss. Bridget",female,NaN,0.0,0.0,14311.0,7.7500,NaN,Q
48,49.0,0.0,3.0,"Samaan, Mr. Youssef",male,NaN,2.0,0.0,2662.0,21.6792,NaN,C
49,50.0,0.0,3.0,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1.0,0.0,349237.0,17.8000,NaN,S
50,51.0,0.0,3.0,"Panula, Master. Juha Niilo",male,7.00,4.0,1.0,3101295.0,39.6875,NaN,S
51,52.0,0.0,3.0,"Nosworthy, Mr. Richard Cater",male,21.00,0.0,0.0,A/4. 39886,7.8000,NaN,S
52,53.0,1.0,1.0,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1.0,0.0,PC 17572,76.7292,D33,C
53,54.0,1.0,2.0,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29.00,1.0,0.0,2926.0,26.0000,NaN,S
54,55.0,0.0,1.0,"Ostby, Mr. Engelhart Cornelius",male,65.00,0.0,1.0,113509.0,61.9792,B30,C
55,56.0,1.0,1.0,"Woolner, Mr. Hugh",male,NaN,0.0,0.0,19947.0,35.5000,C52,S
56,57.0,1.0,2.0,"Rugg, Miss. Emily",female,21.00,0.0,0.0,C.A. 31026,10.5000,NaN,S
57,58.0,0.0,3.0,"Novel, Mr. Mansouer",male,28.50,0.0,0.0,2697.0,7.2292,NaN,C
58,59.0,1.0,2.0,"West, Miss. Constance Mirium",female,5.00,1.0,2.0,C.A. 34651,27.7500,NaN,S
59,60.0,0.0,3.0,"Goodwin, Master. William Frederick",male,11.00,5.0,2.0,CA 2144,46.9000,NaN,S
60,61.0,0.0,3.0,"Sirayanian, Mr. Orsen",male,22.00,0.0,0.0,2669.0,7.2292,NaN,C
61,62.0,1.0,1.0,"Icard, Miss. Amelie",female,38.00,0.0,0.0,113572.0,80.0000,B28,NaN
62,63.0,0.0,1.0,"Harris, Mr. Henry Birkhardt",male,45.00,1.0,0.0,36973.0,83.4750,C83,S
63,64.0,0.0,3.0,"Skoog, Master. Harald",male,4.00,3.0,2.0,347088.0,27.9000,NaN,S
64,65.0,0.0,1.0,"Stewart, Mr. Albert A",male,NaN,0.0,0.0,PC 17605,27.7208,NaN,C
65,66.0,1.0,3.0,"Moubarek, Master. Gerios",male,NaN,1.0,1.0,2661.0,15.2458,NaN,C
66,67.0,1.0,2.0,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0.0,0.0,C.A. 29395,10.5000,F33,S
67,68.0,0.0,3.0,"Crease, Mr. Ernest James",male,19.00,0.0,0.0,S.P. 3464,8.1583,NaN,S
68,69.0,1.0,3.0,"Andersson, Miss. Erna Alexandra",female,17.00,4.0,2.0,3101281.0,7.9250,NaN,S
69,70.0,0.0,3.0,"Kink, Mr. Vincenz",male,26.00,2.0,0.0,315151.0,8.6625,NaN,S
70,71.0,0.0,2.0,"Jenkin, Mr. Stephen Curnow",male,32.00,0.0,0.0,C.A. 33111,10.5000,NaN,S
71,72.0,0.0,3.0,"Goodwin, Miss. Lillian Amy",female,16.00,5.0,2.0,CA 2144,46.9000,NaN,S
72,73.0,0.0,2.0,"Hood, Mr. Ambrose Jr",male,21.00,0.0,0.0,S.O.C. 14879,73.5000,NaN,S
73,74.0,0.0,3.0,"Chronopoulos, Mr. Apostolos",male,26.00,1.0,0.0,2680.0,14.4542,NaN,C
74,75.0,1.0,3.0,"Bing, Mr. Lee",male,32.00,0.0,0.0,1601.0,56.4958,NaN,S
75,76.0,0.0,3.0,"Moen, Mr. Sigurd Hansen",male,25.00,0.0,0.0,348123.0,7.6500,F G73,S
76,77.0,0.0,3.0,"Staneff, Mr. Ivan",male,NaN,0.0,0.0,349208.0,7.8958,NaN,S
77,78.0,0.0,3.0,"Moutal, Mr. Rahamin Haim",male,NaN,0.0,0.0,374746.0,8.0500,NaN,S
78,79.0,1.0,2.0,"Caldwell, Master. Alden Gates",male,0.83,0.0,2.0,248738.0,29.0000,NaN,S
79,80.0,1.0,3.0,"Dowdell, Miss. Elizabeth",female,30.00,0.0,0.0,364516.0,12.4750,NaN,S
80,81.0,0.0,3.0,"Waelens, Mr. Achille",male,22.00,0.0,0.0,345767.0,9.0000,NaN,S
81,82.0,1.0,3.0,"Sheerlinck, Mr. Jan Baptist",male,29.00,0.0,0.0,345779.0,9.5000,NaN,S
82,83.0,1.0,3.0,"McDermott, Miss. Brigdet Delia",female,NaN,0.0,0.0,330932.0,7.7875,NaN,Q
83,84.0,0.0,1.0,"Carrau, Mr. Francisco M",male,28.00,0.0,0.0,113059.0,47.1000,NaN,S
84,85.0,1.0,2.0,"Ilett, Miss. Bertha",female,17.00,0.0,0.0,SO/C 14885,10.5000,NaN,S
85,86.0,1.0,3.0,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33.00,3.0,0.0,3101278.0,15.8500,NaN,S
86,87.0,0.0,3.0,"Ford, Mr. William Neal",male,16.00,1.0,3.0,W./C. 6608,34.3750,NaN,S
87,88.0,0.0,3.0,"Slocovski, Mr. Selman Francis",male,NaN,0.0,0.0,SOTON/OQ 392086,8.0500,NaN,S
88,89.0,1.0,1.0,"Fortune, Miss. Mabel Helen",female,23.00,3.0,2.0,19950.0,263.0000,C23 C25 C27,S
89,90.0,0.0,3.0,"Celotti, Mr. Francesco",male,24.00,0.0,0.0,343275.0,8.0500,NaN,S
90,91.0,0.0,3.0,"Christmann, Mr. Emil",male,29.00,0.0,0.0,343276.0,8.0500,NaN,S
91,92.0,0.0,3.0,"Andreasson, Mr. Paul Edvin",male,20.00,0.0,0.0,347466.0,7.8542,NaN,S
92,93.0,0.0,1.0,"Chaffee, Mr. Herbert Fuller",male,46.00,1.0,0.0,W.E.P. 5734,61.1750,E31,S
93,94.0,0.0,3.0,"Dean, Mr. Bertram Frank",male,26.00,1.0,2.0,C.A. 2315,20.5750,NaN,S
94,95.0,0.0,3.0,"Coxon, Mr. Daniel",male,59.00,0.0,0.0,364500.0,7.2500,NaN,S
95,96.0,0.0,3.0,"Shorney, Mr. Charles Joseph",male,NaN,0.0,0.0,374910.0,8.0500,NaN,S
96,97.0,0.0,1.0,"Goldschmidt, Mr. George B",male,71.00,0.0,0.0,PC 17754,34.6542,A5,C
97,98.0,1.0,1.0,"Greenfield, Mr. William Bertram",male,23.00,0.0,1.0,PC 17759,63.3583,D10 D12,C
98,99.0,1.0,2.0,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0.0,1.0,231919.0,23.0000,NaN,S
99,100.0,0.0,2.0,"Kantor, Mr. Sinai",male,34.00,1.0,0.0,244367.0,26.0000,NaN,S

In [18]:
df_excel.index

RangeIndex(start=0, stop=891, step=1)

In [19]:
print(df_excel.columns[0:5])

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

In [20]:
print(df_excel.columns[df_excel.dtypes==object])

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [21]:
df_excel[['PassengerId','Survived','Pclass','Age','SibSp','Parch','Fare']].max() - df_excel[['PassengerId','Survived','Pclass','Age','SibSp','Parch','Fare']].min()

PassengerId    890.0000
Survived         1.0000
Pclass           2.0000
Age             79.5800
SibSp            8.0000
Parch            6.0000
Fare           512.3292
dtype: float64

Make a new python module, acquire.py to hold the following data aquisition functions:

Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

Make a function named get_telco_data that returns the data from the telco_churn database in SQL. In your SQL, be sure to join all 4 tables together, so that the resulting dataframe contains all the contract, payment, and internet service options. Obtain your data from the Codeup Data Science Database.

Once you've got your get_titanic_data, get_iris_data, and get_telco_data functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for the local filename of telco.csv, titanic.csv, or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.

In [36]:

import env

In [37]:
from acquire import get_connection

In [70]:
def get_titanic_data():
    return pd.read_sql('SELECT * FROM passengers', get_connection('titanic_db'))

In [43]:
df = get_titanic_data()

In [44]:
df

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

In [68]:
def get_iris_data():
    return pd.read_sql('SELECT * FROM species JOIN measurements USING(species_id)', get_connection('iris_db'))

In [50]:
def get_telco_data():
    return pd.read_sql('''SELECT * FROM customers join customer_contracts using(customer_id) 
                        join customer_payments using(customer_id) 
                        join internet_service_types using(internet_service_type_id);''', get_connection('telco_churn'))

In [51]:
get_telco_data()

,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,...,payment_type_id,monthly_charges,total_charges,churn,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,internet_service_type
0,1,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,...,2,65.60,593.3,No,2,Yes,2,65.60,593.3,DSL
1,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,...,2,59.90,542.4,No,1,No,2,59.90,542.4,DSL
2,2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,...,1,73.90,280.85,Yes,1,Yes,1,73.90,280.85,Fiber optic
3,2,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,...,1,98.00,1237.85,Yes,1,Yes,1,98.00,1237.85,Fiber optic
4,2,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,...,2,83.90,267.4,Yes,1,Yes,2,83.90,267.4,Fiber optic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,9282-IZGQK,Female,0,No,No,1,Yes,Yes,No,...,1,85.00,85,Yes,1,Yes,1,85.00,85,Fiber optic
7039,1,9462-MJUAW,Male,0,No,No,4,Yes,Yes,No,...,2,50.40,206.6,Yes,1,No,2,50.40,206.6,DSL
7040,1,9705-ZJBCG,Female,0,Yes,Yes,13,Yes,No,Yes,...,3,54.15,701.05,No,2,No,3,54.15,701.05,DSL
7041,2,9777-IQHWP,Male,0,Yes,Yes,64,Yes,Yes,Yes,...,3,93.40,5822.3,No,3,No,3,93.40,5822.3,Fiber optic
7042,2,9809-IMGCQ,Male,1,No,No,22,Yes,Yes,No,...,1,96.70,2082.95,Yes,1,Yes,1,96.70,2082.95,Fiber optic

In [52]:
get_iris_data()

,species_id,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,1,5.1,3.5,1.4,0.2
1,1,setosa,2,4.9,3.0,1.4,0.2
2,1,setosa,3,4.7,3.2,1.3,0.2
3,1,setosa,4,4.6,3.1,1.5,0.2
4,1,setosa,5,5.0,3.6,1.4,0.2
5,1,setosa,6,5.4,3.9,1.7,0.4
6,1,setosa,7,4.6,3.4,1.4,0.3
7,1,setosa,8,5.0,3.4,1.5,0.2
8,1,setosa,9,4.4,2.9,1.4,0.2
9,1,setosa,10,4.9,3.1,1.5,0.1
10,1,setosa,11,5.4,3.7,1.5,0.2
11,1,setosa,12,4.8,3.4,1.6,0.2
12,1,setosa,13,4.8,3.0,1.4,0.1
13,1,setosa,14,4.3,3.0,1.1,0.1
14,1,setosa,15,5.8,4.0,1.2,0.2
15,1,setosa,16,5.7,4.4,1.5,0.4
16,1,setosa,17,5.4,3.9,1.3,0.4
17,1,setosa,18,5.1,3.5,1.4,0.3
18,1,setosa,19,5.7,3.8,1.7,0.3
19,1,setosa,20,5.1,3.8,1.5,0.3
20,1,setosa,21,5.4,3.4,1.7,0.2
21,1,setosa,22,5.1,3.7,1.5,0.4
22,1,setosa,23,4.6,3.6,1.0,0.2
23,1,setosa,24,5.1,3.3,1.7,0.5
24,1,setosa,25,4.8,3.4,1.9,0.2
25,1,setosa,26,5.0,3.0,1.6,0.2
26,1,setosa,27,5.0,3.4,1.6,0.4
27,1,setosa,28,5.2,3.5,1.5,0.2
28,1,setosa,29,5.2,3.4,1.4,0.2
29,1,setosa,30,4.7,3.2,1.6,0.2
30,1,setosa,31,4.8,3.1,1.6,0.2
31,1,setosa,32,5.4,3.4,1.5,0.4
32,1,setosa,33,5.2,4.1,1.5,0.1
33,1,setosa,34,5.5,4.2,1.4,0.2
34,1,setosa,35,4.9,3.1,1.5,0.2
35,1,setosa,36,5.0,3.2,1.2,0.2
36,1,setosa,37,5.5,3.5,1.3,0.2
37,1,setosa,38,4.9,3.6,1.4,0.1
38,1,setosa,39,4.4,3.0,1.3,0.2
39,1,setosa,40,5.1,3.4,1.5,0.2
40,1,setosa,41,5.0,3.5,1.3,0.3
41,1,setosa,42,4.5,2.3,1.3,0.3
42,1,setosa,43,4.4,3.2,1.3,0.2
43,1,setosa,44,5.0,3.5,1.6,0.6
44,1,setosa,45,5.1,3.8,1.9,0.4
45,1,setosa,46,4.8,3.0,1.4,0.3
46,1,setosa,47,5.1,3.8,1.6,0.2
47,1,setosa,48,4.6,3.2,1.4,0.2
48,1,setosa,49,5.3,3.7,1.5,0.2
49,1,setosa,50,5.0,3.3,1.4,0.2
50,2,versicolor,51,7.0,3.2,4.7,1.4
51,2,versicolor,52,6.4,3.2,4.5,1.5
52,2,versicolor,53,6.9,3.1,4.9,1.5
53,2,versicolor,54,5.5,2.3,4.0,1.3
54,2,versicolor,55,6.5,2.8,4.6,1.5
55,2,versicolor,56,5.7,2.8,4.5,1.3
56,2,versicolor,57,6.3,3.3,4.7,1.6
57,2,versicolor,58,4.9,2.4,3.3,1.0
58,2,versicolor,59,6.6,2.9,4.6,1.3
59,2,versicolor,60,5.2,2.7,3.9,1.4
60,2,versicolor,61,5.0,2.0,3.5,1.0
61,2,versicolor,62,5.9,3.0,4.2,1.5
62,2,versicolor,63,6.0,2.2,4.0,1.0
63,2,versicolor,64,6.1,2.9,4.7,1.4
64,2,versicolor,65,5.6,2.9,3.6,1.3
65,2,versicolor,66,6.7,3.1,4.4,1.4
66,2,versicolor,67,5.6,3.0,4.5,1.5
67,2,versicolor,68,5.8,2.7,4.1,1.0
68,2,versicolor,69,6.2,2.2,4.5,1.5
69,2,versicolor,70,5.6,2.5,3.9,1.1
70,2,versicolor,71,5.9,3.2,4.8,1.8
71,2,versicolor,72,6.1,2.8,4.0,1.3
72,2,versicolor,73,6.3,2.5,4.9,1.5
73,2,versicolor,74,6.1,2.8,4.7,1.2
74,2,versicolor,75,6.4,2.9,4.3,1.3
75,2,versicolor,76,6.6,3.0,4.4,1.4
76,2,versicolor,77,6.8,2.8,4.8,1.4
77,2,versicolor,78,6.7,3.0,5.0,1.7
78,2,versicolor,79,6.0,2.9,4.5,1.5
79,2,versicolor,80,5.7,2.6,3.5,1.0
80,2,versicolor,81,5.5,2.4,3.8,1.1
81,2,versicolor,82,5.5,2.4,3.7,1.0
82,2,versicolor,83,5.8,2.7,3.9,1.2
83,2,versicolor,84,6.0,2.7,5.1,1.6
84,2,versicolor,85,5.4,3.0,4.5,1.5
85,2,versicolor,86,6.0,3.4,4.5,1.6
86,2,versicolor,87,6.7,3.1,4.7,1.5
87,2,versicolor,88,6.3,2.3,4.4,1.3
88,2,versicolor,89,5.6,3.0,4.1,1.3
89,2,versicolor,90,5.5,2.5,4.0,1.3
90,2,versicolor,91,5.5,2.6,4.4,1.2
91,2,versicolor,92,6.1,3.0,4.6,1.4
92,2,versicolor,93,5.8,2.6,4.0,1.2
93,2,versicolor,94,5.0,2.3,3.3,1.0
94,2,versicolor,95,5.6,2.7,4.2,1.3
95,2,versicolor,96,5.7,3.0,4.2,1.2
96,2,versicolor,97,5.7,2.9,4.2,1.3
97,2,versicolor,98,6.2,2.9,4.3,1.3
98,2,versicolor,99,5.1,2.5,3.0,1.1
99,2,versicolor,100,5.7,2.8,4.1,1.3
100,3,virginica,101,6.3,3.3,6.0,2.5
101,3,virginica,102,5.8,2.7,5.1,1.9
102,3,virginica,103,7.1,3.0,5.9,2.1
103,3,virginica,104,6.3,2.9,5.6,1.8
104,3,virginica,105,6.5,3.0,5.8,2.2
105,3,virginica,106,7.6,3.0,6.6,2.1
106,3,virginica,107,4.9,2.5,4.5,1.7
107,3,virginica,108,7.3,2.9,6.3,1.8
108,3,virginica,109,6.7,2.5,5.8,1.8
109,3,virginica,110,7.2,3.6,6.1,2.5
110,3,virginica,111,6.5,3.2,5.1,2.0
111,3,virginica,112,6.4,2.7,5.3,1.9
112,3,virginica,113,6.8,3.0,5.5,2.1
113,3,virginica,114,5.7,2.5,5.0,2.0
114,3,virginica,115,5.8,2.8,5.1,2.4
115,3,virginica,116,6.4,3.2,5.3,2.3
116,3,virginica,117,6.5,3.0,5.5,1.8
117,3,virginica,118,7.7,3.8,6.7,2.2
118,3,virginica,119,7.7,2.6,6.9,2.3
119,3,virginica,120,6.0,2.2,5.0,1.5
120,3,virginica,121,6.9,3.2,5.7,2.3
121,3,virginica,122,5.6,2.8,4.9,2.0
122,3,virginica,123,7.7,2.8,6.7,2.0
123,3,virginica,124,6.3,2.7,4.9,1.8
124,3,virginica,125,6.7,3.3,5.7,2.1
125,3,virginica,126,7.2,3.2,6.0,1.8
126,3,virginica,127,6.2,2.8,4.8,1.8
127,3,virginica,128,6.1,3.0,4.9,1.8
128,3,virginica,129,6.4,2.8,5.6,2.1
129,3,virginica,130,7.2,3.0,5.8,1.6
130,3,virginica,131,7.4,2.8,6.1,1.9
131,3,virginica,132,7.9,3.8,6.4,2.0
132,3,virginica,133,6.4,2.8,5.6,2.2
133,3,virginica,134,6.3,2.8,5.1,1.5
134,3,virginica,135,6.1,2.6,5.6,1.4
135,3,virginica,136,7.7,3.0,6.1,2.3
136,3,virginica,137,6.3,3.4,5.6,2.4
137,3,virginica,138,6.4,3.1,5.5,1.8
138,3,virginica,139,6.0,3.0,4.8,1.8
139,3,virginica,140,6.9,3.1,5.4,2.1
140,3,virginica,141,6.7,3.1,5.6,2.4
141,3,virginica,142,6.9,3.1,5.1,2.3
142,3,virginica,143,5.8,2.7,5.1,1.9
143,3,virginica,144,6.8,3.2,5.9,2.3
144,3,virginica,145,6.7,3.3,5.7,2.5
145,3,virginica,146,6.7,3.0,5.2,2.3
146,3,virginica,147,6.3,2.5,5.0,1.9
147,3,virginica,148,6.5,3.0,5.2,2.0
148,3,virginica,149,6.2,3.4,5.4,2.3
149,3,virginica,150,5.9,3.0,5.1,1.8

In [71]:
import os

def csv_titanic_data():
    filename = "titanic.csv"
    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        df = get_titanic_data()
        df.to_csv(filename, index=False)
        return df

In [72]:
get_titanic_data()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

In [66]:
def csv_iris_data():
    filename = "iris.csv"
    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        df = get_iris_data()
        df.to_csv(filename, index=False)
        return df

In [69]:
csv_iris_data()

,species_id,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,1,5.1,3.5,1.4,0.2
1,1,setosa,2,4.9,3.0,1.4,0.2
2,1,setosa,3,4.7,3.2,1.3,0.2
3,1,setosa,4,4.6,3.1,1.5,0.2
4,1,setosa,5,5.0,3.6,1.4,0.2
5,1,setosa,6,5.4,3.9,1.7,0.4
6,1,setosa,7,4.6,3.4,1.4,0.3
7,1,setosa,8,5.0,3.4,1.5,0.2
8,1,setosa,9,4.4,2.9,1.4,0.2
9,1,setosa,10,4.9,3.1,1.5,0.1
10,1,setosa,11,5.4,3.7,1.5,0.2
11,1,setosa,12,4.8,3.4,1.6,0.2
12,1,setosa,13,4.8,3.0,1.4,0.1
13,1,setosa,14,4.3,3.0,1.1,0.1
14,1,setosa,15,5.8,4.0,1.2,0.2
15,1,setosa,16,5.7,4.4,1.5,0.4
16,1,setosa,17,5.4,3.9,1.3,0.4
17,1,setosa,18,5.1,3.5,1.4,0.3
18,1,setosa,19,5.7,3.8,1.7,0.3
19,1,setosa,20,5.1,3.8,1.5,0.3
20,1,setosa,21,5.4,3.4,1.7,0.2
21,1,setosa,22,5.1,3.7,1.5,0.4
22,1,setosa,23,4.6,3.6,1.0,0.2
23,1,setosa,24,5.1,3.3,1.7,0.5
24,1,setosa,25,4.8,3.4,1.9,0.2
25,1,setosa,26,5.0,3.0,1.6,0.2
26,1,setosa,27,5.0,3.4,1.6,0.4
27,1,setosa,28,5.2,3.5,1.5,0.2
28,1,setosa,29,5.2,3.4,1.4,0.2
29,1,setosa,30,4.7,3.2,1.6,0.2
30,1,setosa,31,4.8,3.1,1.6,0.2
31,1,setosa,32,5.4,3.4,1.5,0.4
32,1,setosa,33,5.2,4.1,1.5,0.1
33,1,setosa,34,5.5,4.2,1.4,0.2
34,1,setosa,35,4.9,3.1,1.5,0.2
35,1,setosa,36,5.0,3.2,1.2,0.2
36,1,setosa,37,5.5,3.5,1.3,0.2
37,1,setosa,38,4.9,3.6,1.4,0.1
38,1,setosa,39,4.4,3.0,1.3,0.2
39,1,setosa,40,5.1,3.4,1.5,0.2
40,1,setosa,41,5.0,3.5,1.3,0.3
41,1,setosa,42,4.5,2.3,1.3,0.3
42,1,setosa,43,4.4,3.2,1.3,0.2
43,1,setosa,44,5.0,3.5,1.6,0.6
44,1,setosa,45,5.1,3.8,1.9,0.4
45,1,setosa,46,4.8,3.0,1.4,0.3
46,1,setosa,47,5.1,3.8,1.6,0.2
47,1,setosa,48,4.6,3.2,1.4,0.2
48,1,setosa,49,5.3,3.7,1.5,0.2
49,1,setosa,50,5.0,3.3,1.4,0.2
50,2,versicolor,51,7.0,3.2,4.7,1.4
51,2,versicolor,52,6.4,3.2,4.5,1.5
52,2,versicolor,53,6.9,3.1,4.9,1.5
53,2,versicolor,54,5.5,2.3,4.0,1.3
54,2,versicolor,55,6.5,2.8,4.6,1.5
55,2,versicolor,56,5.7,2.8,4.5,1.3
56,2,versicolor,57,6.3,3.3,4.7,1.6
57,2,versicolor,58,4.9,2.4,3.3,1.0
58,2,versicolor,59,6.6,2.9,4.6,1.3
59,2,versicolor,60,5.2,2.7,3.9,1.4
60,2,versicolor,61,5.0,2.0,3.5,1.0
61,2,versicolor,62,5.9,3.0,4.2,1.5
62,2,versicolor,63,6.0,2.2,4.0,1.0
63,2,versicolor,64,6.1,2.9,4.7,1.4
64,2,versicolor,65,5.6,2.9,3.6,1.3
65,2,versicolor,66,6.7,3.1,4.4,1.4
66,2,versicolor,67,5.6,3.0,4.5,1.5
67,2,versicolor,68,5.8,2.7,4.1,1.0
68,2,versicolor,69,6.2,2.2,4.5,1.5
69,2,versicolor,70,5.6,2.5,3.9,1.1
70,2,versicolor,71,5.9,3.2,4.8,1.8
71,2,versicolor,72,6.1,2.8,4.0,1.3
72,2,versicolor,73,6.3,2.5,4.9,1.5
73,2,versicolor,74,6.1,2.8,4.7,1.2
74,2,versicolor,75,6.4,2.9,4.3,1.3
75,2,versicolor,76,6.6,3.0,4.4,1.4
76,2,versicolor,77,6.8,2.8,4.8,1.4
77,2,versicolor,78,6.7,3.0,5.0,1.7
78,2,versicolor,79,6.0,2.9,4.5,1.5
79,2,versicolor,80,5.7,2.6,3.5,1.0
80,2,versicolor,81,5.5,2.4,3.8,1.1
81,2,versicolor,82,5.5,2.4,3.7,1.0
82,2,versicolor,83,5.8,2.7,3.9,1.2
83,2,versicolor,84,6.0,2.7,5.1,1.6
84,2,versicolor,85,5.4,3.0,4.5,1.5
85,2,versicolor,86,6.0,3.4,4.5,1.6
86,2,versicolor,87,6.7,3.1,4.7,1.5
87,2,versicolor,88,6.3,2.3,4.4,1.3
88,2,versicolor,89,5.6,3.0,4.1,1.3
89,2,versicolor,90,5.5,2.5,4.0,1.3
90,2,versicolor,91,5.5,2.6,4.4,1.2
91,2,versicolor,92,6.1,3.0,4.6,1.4
92,2,versicolor,93,5.8,2.6,4.0,1.2
93,2,versicolor,94,5.0,2.3,3.3,1.0
94,2,versicolor,95,5.6,2.7,4.2,1.3
95,2,versicolor,96,5.7,3.0,4.2,1.2
96,2,versicolor,97,5.7,2.9,4.2,1.3
97,2,versicolor,98,6.2,2.9,4.3,1.3
98,2,versicolor,99,5.1,2.5,3.0,1.1
99,2,versicolor,100,5.7,2.8,4.1,1.3
100,3,virginica,101,6.3,3.3,6.0,2.5
101,3,virginica,102,5.8,2.7,5.1,1.9
102,3,virginica,103,7.1,3.0,5.9,2.1
103,3,virginica,104,6.3,2.9,5.6,1.8
104,3,virginica,105,6.5,3.0,5.8,2.2
105,3,virginica,106,7.6,3.0,6.6,2.1
106,3,virginica,107,4.9,2.5,4.5,1.7
107,3,virginica,108,7.3,2.9,6.3,1.8
108,3,virginica,109,6.7,2.5,5.8,1.8
109,3,virginica,110,7.2,3.6,6.1,2.5
110,3,virginica,111,6.5,3.2,5.1,2.0
111,3,virginica,112,6.4,2.7,5.3,1.9
112,3,virginica,113,6.8,3.0,5.5,2.1
113,3,virginica,114,5.7,2.5,5.0,2.0
114,3,virginica,115,5.8,2.8,5.1,2.4
115,3,virginica,116,6.4,3.2,5.3,2.3
116,3,virginica,117,6.5,3.0,5.5,1.8
117,3,virginica,118,7.7,3.8,6.7,2.2
118,3,virginica,119,7.7,2.6,6.9,2.3
119,3,virginica,120,6.0,2.2,5.0,1.5
120,3,virginica,121,6.9,3.2,5.7,2.3
121,3,virginica,122,5.6,2.8,4.9,2.0
122,3,virginica,123,7.7,2.8,6.7,2.0
123,3,virginica,124,6.3,2.7,4.9,1.8
124,3,virginica,125,6.7,3.3,5.7,2.1
125,3,virginica,126,7.2,3.2,6.0,1.8
126,3,virginica,127,6.2,2.8,4.8,1.8
127,3,virginica,128,6.1,3.0,4.9,1.8
128,3,virginica,129,6.4,2.8,5.6,2.1
129,3,virginica,130,7.2,3.0,5.8,1.6
130,3,virginica,131,7.4,2.8,6.1,1.9
131,3,virginica,132,7.9,3.8,6.4,2.0
132,3,virginica,133,6.4,2.8,5.6,2.2
133,3,virginica,134,6.3,2.8,5.1,1.5
134,3,virginica,135,6.1,2.6,5.6,1.4
135,3,virginica,136,7.7,3.0,6.1,2.3
136,3,virginica,137,6.3,3.4,5.6,2.4
137,3,virginica,138,6.4,3.1,5.5,1.8
138,3,virginica,139,6.0,3.0,4.8,1.8
139,3,virginica,140,6.9,3.1,5.4,2.1
140,3,virginica,141,6.7,3.1,5.6,2.4
141,3,virginica,142,6.9,3.1,5.1,2.3
142,3,virginica,143,5.8,2.7,5.1,1.9
143,3,virginica,144,6.8,3.2,5.9,2.3
144,3,virginica,145,6.7,3.3,5.7,2.5
145,3,virginica,146,6.7,3.0,5.2,2.3
146,3,virginica,147,6.3,2.5,5.0,1.9
147,3,virginica,148,6.5,3.0,5.2,2.0
148,3,virginica,149,6.2,3.4,5.4,2.3
149,3,virginica,150,5.9,3.0,5.1,1.8

In [73]:
def csv_telco_data():
    filename = "telco_churn.csv"
    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        df = get_telco_data()
        df.to_csv(filename, index=False)
        return df

In [74]:
csv_telco_data()

,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,...,payment_type_id,monthly_charges,total_charges,churn,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,internet_service_type
0,1,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,...,2,65.60,593.3,No,2,Yes,2,65.60,593.3,DSL
1,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,...,2,59.90,542.4,No,1,No,2,59.90,542.4,DSL
2,2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,...,1,73.90,280.85,Yes,1,Yes,1,73.90,280.85,Fiber optic
3,2,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,...,1,98.00,1237.85,Yes,1,Yes,1,98.00,1237.85,Fiber optic
4,2,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,...,2,83.90,267.4,Yes,1,Yes,2,83.90,267.4,Fiber optic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,9282-IZGQK,Female,0,No,No,1,Yes,Yes,No,...,1,85.00,85,Yes,1,Yes,1,85.00,85,Fiber optic
7039,1,9462-MJUAW,Male,0,No,No,4,Yes,Yes,No,...,2,50.40,206.6,Yes,1,No,2,50.40,206.6,DSL
7040,1,9705-ZJBCG,Female,0,Yes,Yes,13,Yes,No,Yes,...,3,54.15,701.05,No,2,No,3,54.15,701.05,DSL
7041,2,9777-IQHWP,Male,0,Yes,Yes,64,Yes,Yes,Yes,...,3,93.40,5822.3,No,3,No,3,93.40,5822.3,Fiber optic
7042,2,9809-IMGCQ,Male,1,No,No,22,Yes,Yes,No,...,1,96.70,2082.95,Yes,1,Yes,1,96.70,2082.95,Fiber optic

### DATA PREPARATION

Using the Iris Data:

Use the function defined in acquire.py to load the iris data.

In [22]:
import acquire

In [169]:
df_iris = acquire.csv_iris_data()

In [170]:
df_iris.head()

,species_id,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,1,5.1,3.5,1.4,0.2
1,1,setosa,2,4.9,3.0,1.4,0.2
2,1,setosa,3,4.7,3.2,1.3,0.2
3,1,setosa,4,4.6,3.1,1.5,0.2
4,1,setosa,5,5.0,3.6,1.4,0.2

Drop the species_id and measurement_id columns.

In [171]:
df_iris = df_iris.drop(columns=['species_id', 'measurement_id'])

In [172]:
df_iris

    species_name  sepal_length  sepal_width  petal_length  petal_width
0         setosa           5.1          3.5           1.4          0.2
1         setosa           4.9          3.0           1.4          0.2
2         setosa           4.7          3.2           1.3          0.2
3         setosa           4.6          3.1           1.5          0.2
4         setosa           5.0          3.6           1.4          0.2
5         setosa           5.4          3.9           1.7          0.4
6         setosa           4.6          3.4           1.4          0.3
7         setosa           5.0          3.4           1.5          0.2
8         setosa           4.4          2.9           1.4          0.2
9         setosa           4.9          3.1           1.5          0.1
10        setosa           5.4          3.7           1.5          0.2
11        setosa           4.8          3.4           1.6          0.2
12        setosa           4.8          3.0           1.4          0.1
13        setosa           4.3          3.0           1.1          0.1
14        setosa           5.8          4.0           1.2          0.2
15        setosa           5.7          4.4           1.5          0.4
16        setosa           5.4          3.9           1.3          0.4
17        setosa           5.1          3.5           1.4          0.3
18        setosa           5.7          3.8           1.7          0.3
19        setosa           5.1          3.8           1.5          0.3
20        setosa           5.4          3.4           1.7          0.2
21        setosa           5.1          3.7           1.5          0.4
22        setosa           4.6          3.6           1.0          0.2
23        setosa           5.1          3.3           1.7          0.5
24        setosa           4.8          3.4           1.9          0.2
25        setosa           5.0          3.0           1.6          0.2
26        setosa           5.0          3.4           1.6          0.4
27        setosa           5.2          3.5           1.5          0.2
28        setosa           5.2          3.4           1.4          0.2
29        setosa           4.7          3.2           1.6          0.2
30        setosa           4.8          3.1           1.6          0.2
31        setosa           5.4          3.4           1.5          0.4
32        setosa           5.2          4.1           1.5          0.1
33        setosa           5.5          4.2           1.4          0.2
34        setosa           4.9          3.1           1.5          0.2
35        setosa           5.0          3.2           1.2          0.2
36        setosa           5.5          3.5           1.3          0.2
37        setosa           4.9          3.6           1.4          0.1
38        setosa           4.4          3.0           1.3          0.2
39        setosa           5.1          3.4           1.5          0.2
40        setosa           5.0          3.5           1.3          0.3
41        setosa           4.5          2.3           1.3          0.3
42        setosa           4.4          3.2           1.3          0.2
43        setosa           5.0          3.5           1.6          0.6
44        setosa           5.1          3.8           1.9          0.4
45        setosa           4.8          3.0           1.4          0.3
46        setosa           5.1          3.8           1.6          0.2
47        setosa           4.6          3.2           1.4          0.2
48        setosa           5.3          3.7           1.5          0.2
49        setosa           5.0          3.3           1.4          0.2
50    versicolor           7.0          3.2           4.7          1.4
51    versicolor           6.4          3.2           4.5          1.5
52    versicolor           6.9          3.1           4.9          1.5
53    versicolor           5.5          2.3           4.0          1.3
54    versicolor           6.5          2.8           4.6          1.5
55    versicolor           5.7          2.8           4.5          1.3
56    versicolor           6.3          3.3           4.7          1.6
57    versicolor           4.9          2.4           3.3          1.0
58    versicolor           6.6          2.9           4.6          1.3
59    versicolor           5.2          2.7           3.9          1.4
60    versicolor           5.0          2.0           3.5          1.0
61    versicolor           5.9          3.0           4.2          1.5
62    versicolor           6.0          2.2           4.0          1.0
63    versicolor           6.1          2.9           4.7          1.4
64    versicolor           5.6          2.9           3.6          1.3
65    versicolor           6.7          3.1           4.4          1.4
66    versicolor           5.6          3.0           4.5          1.5
67    versicolor           5.8          2.7           4.1          1.0
68    versicolor           6.2          2.2           4.5          1.5
69    versicolor           5.6          2.5           3.9          1.1
70    versicolor           5.9          3.2           4.8          1.8
71    versicolor           6.1          2.8           4.0          1.3
72    versicolor           6.3          2.5           4.9          1.5
73    versicolor           6.1          2.8           4.7          1.2
74    versicolor           6.4          2.9           4.3          1.3
75    versicolor           6.6          3.0           4.4          1.4
76    versicolor           6.8          2.8           4.8          1.4
77    versicolor           6.7          3.0           5.0          1.7
78    versicolor           6.0          2.9           4.5          1.5
79    versicolor           5.7          2.6           3.5          1.0
80    versicolor           5.5          2.4           3.8          1.1
81    versicolor           5.5          2.4           3.7          1.0
82    versicolor           5.8          2.7           3.9          1.2
83    versicolor           6.0          2.7           5.1          1.6
84    versicolor           5.4          3.0           4.5          1.5
85    versicolor           6.0          3.4           4.5          1.6
86    versicolor           6.7          3.1           4.7          1.5
87    versicolor           6.3          2.3           4.4          1.3
88    versicolor           5.6          3.0           4.1          1.3
89    versicolor           5.5          2.5           4.0          1.3
90    versicolor           5.5          2.6           4.4          1.2
91    versicolor           6.1          3.0           4.6          1.4
92    versicolor           5.8          2.6           4.0          1.2
93    versicolor           5.0          2.3           3.3          1.0
94    versicolor           5.6          2.7           4.2          1.3
95    versicolor           5.7          3.0           4.2          1.2
96    versicolor           5.7          2.9           4.2          1.3
97    versicolor           6.2          2.9           4.3          1.3
98    versicolor           5.1          2.5           3.0          1.1
99    versicolor           5.7          2.8           4.1          1.3
100    virginica           6.3          3.3           6.0          2.5
101    virginica           5.8          2.7           5.1          1.9
102    virginica           7.1          3.0           5.9          2.1
103    virginica           6.3          2.9           5.6          1.8
104    virginica           6.5          3.0           5.8          2.2
105    virginica           7.6          3.0           6.6          2.1
106    virginica           4.9          2.5           4.5          1.7
107    virginica           7.3          2.9           6.3          1.8
108    virginica           6.7          2.5           5.8          1.8
109    virginica           7.2          3.6           6.1          2.5
110    virginica           6.5          3.2           5.1          2.0
111    virginica           6.4          2.7           5.3          1.9
112    virginica           6.8          3.0           5.5          2.1
113    virginica           5.7          2.5           5.0          2.0
114    virginica           5.8          2.8           5.1          2.4
115    virginica           6.4          3.2           5.3          2.3
116    virginica           6.5          3.0           5.5          1.8
117    virginica           7.7          3.8           6.7          2.2
118    virginica           7.7          2.6           6.9          2.3
119    virginica           6.0          2.2           5.0          1.5
120    virginica           6.9          3.2           5.7          2.3
121    virginica           5.6          2.8           4.9          2.0
122    virginica           7.7          2.8           6.7          2.0
123    virginica           6.3          2.7           4.9          1.8
124    virginica           6.7          3.3           5.7          2.1
125    virginica           7.2          3.2           6.0          1.8
126    virginica           6.2          2.8           4.8          1.8
127    virginica           6.1          3.0           4.9          1.8
128    virginica           6.4          2.8           5.6          2.1
129    virginica           7.2          3.0           5.8          1.6
130    virginica           7.4          2.8           6.1          1.9
131    virginica           7.9          3.8           6.4          2.0
132    virginica           6.4          2.8           5.6          2.2
133    virginica           6.3          2.8           5.1          1.5
134    virginica           6.1          2.6           5.6          1.4
135    virginica           7.7          3.0           6.1          2.3
136    virginica           6.3          3.4           5.6          2.4
137    virginica           6.4          3.1           5.5          1.8
138    virginica           6.0          3.0           4.8          1.8
139    virginica           6.9          3.1           5.4          2.1
140    virginica           6.7          3.1           5.6          2.4
141    virginica           6.9          3.1           5.1          2.3
142    virginica           5.8          2.7           5.1          1.9
143    virginica           6.8          3.2           5.9          2.3
144    virginica           6.7          3.3           5.7          2.5
145    virginica           6.7          3.0           5.2          2.3
146    virginica           6.3          2.5           5.0          1.9
147    virginica           6.5          3.0           5.2          2.0
148    virginica           6.2          3.4           5.4          2.3
149    virginica           5.9          3.0           5.1          1.8

Rename the species_name column to just species.

In [173]:
df_iris = df_iris.rename(columns={'species_name':'species'})

In [174]:
df_iris

        species  sepal_length  sepal_width  petal_length  petal_width
0        setosa           5.1          3.5           1.4          0.2
1        setosa           4.9          3.0           1.4          0.2
2        setosa           4.7          3.2           1.3          0.2
3        setosa           4.6          3.1           1.5          0.2
4        setosa           5.0          3.6           1.4          0.2
5        setosa           5.4          3.9           1.7          0.4
6        setosa           4.6          3.4           1.4          0.3
7        setosa           5.0          3.4           1.5          0.2
8        setosa           4.4          2.9           1.4          0.2
9        setosa           4.9          3.1           1.5          0.1
10       setosa           5.4          3.7           1.5          0.2
11       setosa           4.8          3.4           1.6          0.2
12       setosa           4.8          3.0           1.4          0.1
13       setosa           4.3          3.0           1.1          0.1
14       setosa           5.8          4.0           1.2          0.2
15       setosa           5.7          4.4           1.5          0.4
16       setosa           5.4          3.9           1.3          0.4
17       setosa           5.1          3.5           1.4          0.3
18       setosa           5.7          3.8           1.7          0.3
19       setosa           5.1          3.8           1.5          0.3
20       setosa           5.4          3.4           1.7          0.2
21       setosa           5.1          3.7           1.5          0.4
22       setosa           4.6          3.6           1.0          0.2
23       setosa           5.1          3.3           1.7          0.5
24       setosa           4.8          3.4           1.9          0.2
25       setosa           5.0          3.0           1.6          0.2
26       setosa           5.0          3.4           1.6          0.4
27       setosa           5.2          3.5           1.5          0.2
28       setosa           5.2          3.4           1.4          0.2
29       setosa           4.7          3.2           1.6          0.2
30       setosa           4.8          3.1           1.6          0.2
31       setosa           5.4          3.4           1.5          0.4
32       setosa           5.2          4.1           1.5          0.1
33       setosa           5.5          4.2           1.4          0.2
34       setosa           4.9          3.1           1.5          0.2
35       setosa           5.0          3.2           1.2          0.2
36       setosa           5.5          3.5           1.3          0.2
37       setosa           4.9          3.6           1.4          0.1
38       setosa           4.4          3.0           1.3          0.2
39       setosa           5.1          3.4           1.5          0.2
40       setosa           5.0          3.5           1.3          0.3
41       setosa           4.5          2.3           1.3          0.3
42       setosa           4.4          3.2           1.3          0.2
43       setosa           5.0          3.5           1.6          0.6
44       setosa           5.1          3.8           1.9          0.4
45       setosa           4.8          3.0           1.4          0.3
46       setosa           5.1          3.8           1.6          0.2
47       setosa           4.6          3.2           1.4          0.2
48       setosa           5.3          3.7           1.5          0.2
49       setosa           5.0          3.3           1.4          0.2
50   versicolor           7.0          3.2           4.7          1.4
51   versicolor           6.4          3.2           4.5          1.5
52   versicolor           6.9          3.1           4.9          1.5
53   versicolor           5.5          2.3           4.0          1.3
54   versicolor           6.5          2.8           4.6          1.5
55   versicolor           5.7          2.8           4.5          1.3
56   versicolor           6.3          3.3           4.7          1.6
57   versicolor           4.9          2.4           3.3          1.0
58   versicolor           6.6          2.9           4.6          1.3
59   versicolor           5.2          2.7           3.9          1.4
60   versicolor           5.0          2.0           3.5          1.0
61   versicolor           5.9          3.0           4.2          1.5
62   versicolor           6.0          2.2           4.0          1.0
63   versicolor           6.1          2.9           4.7          1.4
64   versicolor           5.6          2.9           3.6          1.3
65   versicolor           6.7          3.1           4.4          1.4
66   versicolor           5.6          3.0           4.5          1.5
67   versicolor           5.8          2.7           4.1          1.0
68   versicolor           6.2          2.2           4.5          1.5
69   versicolor           5.6          2.5           3.9          1.1
70   versicolor           5.9          3.2           4.8          1.8
71   versicolor           6.1          2.8           4.0          1.3
72   versicolor           6.3          2.5           4.9          1.5
73   versicolor           6.1          2.8           4.7          1.2
74   versicolor           6.4          2.9           4.3          1.3
75   versicolor           6.6          3.0           4.4          1.4
76   versicolor           6.8          2.8           4.8          1.4
77   versicolor           6.7          3.0           5.0          1.7
78   versicolor           6.0          2.9           4.5          1.5
79   versicolor           5.7          2.6           3.5          1.0
80   versicolor           5.5          2.4           3.8          1.1
81   versicolor           5.5          2.4           3.7          1.0
82   versicolor           5.8          2.7           3.9          1.2
83   versicolor           6.0          2.7           5.1          1.6
84   versicolor           5.4          3.0           4.5          1.5
85   versicolor           6.0          3.4           4.5          1.6
86   versicolor           6.7          3.1           4.7          1.5
87   versicolor           6.3          2.3           4.4          1.3
88   versicolor           5.6          3.0           4.1          1.3
89   versicolor           5.5          2.5           4.0          1.3
90   versicolor           5.5          2.6           4.4          1.2
91   versicolor           6.1          3.0           4.6          1.4
92   versicolor           5.8          2.6           4.0          1.2
93   versicolor           5.0          2.3           3.3          1.0
94   versicolor           5.6          2.7           4.2          1.3
95   versicolor           5.7          3.0           4.2          1.2
96   versicolor           5.7          2.9           4.2          1.3
97   versicolor           6.2          2.9           4.3          1.3
98   versicolor           5.1          2.5           3.0          1.1
99   versicolor           5.7          2.8           4.1          1.3
100   virginica           6.3          3.3           6.0          2.5
101   virginica           5.8          2.7           5.1          1.9
102   virginica           7.1          3.0           5.9          2.1
103   virginica           6.3          2.9           5.6          1.8
104   virginica           6.5          3.0           5.8          2.2
105   virginica           7.6          3.0           6.6          2.1
106   virginica           4.9          2.5           4.5          1.7
107   virginica           7.3          2.9           6.3          1.8
108   virginica           6.7          2.5           5.8          1.8
109   virginica           7.2          3.6           6.1          2.5
110   virginica           6.5          3.2           5.1          2.0
111   virginica           6.4          2.7           5.3          1.9
112   virginica           6.8          3.0           5.5          2.1
113   virginica           5.7          2.5           5.0          2.0
114   virginica           5.8          2.8           5.1          2.4
115   virginica           6.4          3.2           5.3          2.3
116   virginica           6.5          3.0           5.5          1.8
117   virginica           7.7          3.8           6.7          2.2
118   virginica           7.7          2.6           6.9          2.3
119   virginica           6.0          2.2           5.0          1.5
120   virginica           6.9          3.2           5.7          2.3
121   virginica           5.6          2.8           4.9          2.0
122   virginica           7.7          2.8           6.7          2.0
123   virginica           6.3          2.7           4.9          1.8
124   virginica           6.7          3.3           5.7          2.1
125   virginica           7.2          3.2           6.0          1.8
126   virginica           6.2          2.8           4.8          1.8
127   virginica           6.1          3.0           4.9          1.8
128   virginica           6.4          2.8           5.6          2.1
129   virginica           7.2          3.0           5.8          1.6
130   virginica           7.4          2.8           6.1          1.9
131   virginica           7.9          3.8           6.4          2.0
132   virginica           6.4          2.8           5.6          2.2
133   virginica           6.3          2.8           5.1          1.5
134   virginica           6.1          2.6           5.6          1.4
135   virginica           7.7          3.0           6.1          2.3
136   virginica           6.3          3.4           5.6          2.4
137   virginica           6.4          3.1           5.5          1.8
138   virginica           6.0          3.0           4.8          1.8
139   virginica           6.9          3.1           5.4          2.1
140   virginica           6.7          3.1           5.6          2.4
141   virginica           6.9          3.1           5.1          2.3
142   virginica           5.8          2.7           5.1          1.9
143   virginica           6.8          3.2           5.9          2.3
144   virginica           6.7          3.3           5.7          2.5
145   virginica           6.7          3.0           5.2          2.3
146   virginica           6.3          2.5           5.0          1.9
147   virginica           6.5          3.0           5.2          2.0
148   virginica           6.2          3.4           5.4          2.3
149   virginica           5.9          3.0           5.1          1.8

Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [175]:
df_iris.species.value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [176]:
dummy_iris = pd.get_dummies(df_iris[['species']], dummy_na=False)

In [177]:
dummy_iris = pd.concat([df_iris, dummy_iris], axis=1)

In [178]:
# saved to dummy_iris instead of df_iris initially
df_iris = dummy_iris

In [179]:
df_iris.head()

,species,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
0,setosa,5.1,3.5,1.4,0.2,1,0,0
1,setosa,4.9,3.0,1.4,0.2,1,0,0
2,setosa,4.7,3.2,1.3,0.2,1,0,0
3,setosa,4.6,3.1,1.5,0.2,1,0,0
4,setosa,5.0,3.6,1.4,0.2,1,0,0

Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [197]:
def prep_iris():
    df_iris = acquire.csv_iris_data()
    df_iris = df_iris.drop(columns=['species_id', 'measurement_id'])
    df_iris = df_iris.rename(columns={'species_name':'species'})
    dummy_iris = pd.get_dummies(df_iris[['species']], dummy_na=False)
    df_iris = pd.concat([df_iris, dummy_iris], axis=1)
    return df_iris

In [188]:
prep_iris()

,species,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
0,setosa,5.1,3.5,1.4,0.2,1,0,0
1,setosa,4.9,3.0,1.4,0.2,1,0,0
2,setosa,4.7,3.2,1.3,0.2,1,0,0
3,setosa,4.6,3.1,1.5,0.2,1,0,0
4,setosa,5.0,3.6,1.4,0.2,1,0,0
5,setosa,5.4,3.9,1.7,0.4,1,0,0
6,setosa,4.6,3.4,1.4,0.3,1,0,0
7,setosa,5.0,3.4,1.5,0.2,1,0,0
8,setosa,4.4,2.9,1.4,0.2,1,0,0
9,setosa,4.9,3.1,1.5,0.1,1,0,0
10,setosa,5.4,3.7,1.5,0.2,1,0,0
11,setosa,4.8,3.4,1.6,0.2,1,0,0
12,setosa,4.8,3.0,1.4,0.1,1,0,0
13,setosa,4.3,3.0,1.1,0.1,1,0,0
14,setosa,5.8,4.0,1.2,0.2,1,0,0
15,setosa,5.7,4.4,1.5,0.4,1,0,0
16,setosa,5.4,3.9,1.3,0.4,1,0,0
17,setosa,5.1,3.5,1.4,0.3,1,0,0
18,setosa,5.7,3.8,1.7,0.3,1,0,0
19,setosa,5.1,3.8,1.5,0.3,1,0,0
20,setosa,5.4,3.4,1.7,0.2,1,0,0
21,setosa,5.1,3.7,1.5,0.4,1,0,0
22,setosa,4.6,3.6,1.0,0.2,1,0,0
23,setosa,5.1,3.3,1.7,0.5,1,0,0
24,setosa,4.8,3.4,1.9,0.2,1,0,0
25,setosa,5.0,3.0,1.6,0.2,1,0,0
26,setosa,5.0,3.4,1.6,0.4,1,0,0
27,setosa,5.2,3.5,1.5,0.2,1,0,0
28,setosa,5.2,3.4,1.4,0.2,1,0,0
29,setosa,4.7,3.2,1.6,0.2,1,0,0
30,setosa,4.8,3.1,1.6,0.2,1,0,0
31,setosa,5.4,3.4,1.5,0.4,1,0,0
32,setosa,5.2,4.1,1.5,0.1,1,0,0
33,setosa,5.5,4.2,1.4,0.2,1,0,0
34,setosa,4.9,3.1,1.5,0.2,1,0,0
35,setosa,5.0,3.2,1.2,0.2,1,0,0
36,setosa,5.5,3.5,1.3,0.2,1,0,0
37,setosa,4.9,3.6,1.4,0.1,1,0,0
38,setosa,4.4,3.0,1.3,0.2,1,0,0
39,setosa,5.1,3.4,1.5,0.2,1,0,0
40,setosa,5.0,3.5,1.3,0.3,1,0,0
41,setosa,4.5,2.3,1.3,0.3,1,0,0
42,setosa,4.4,3.2,1.3,0.2,1,0,0
43,setosa,5.0,3.5,1.6,0.6,1,0,0
44,setosa,5.1,3.8,1.9,0.4,1,0,0
45,setosa,4.8,3.0,1.4,0.3,1,0,0
46,setosa,5.1,3.8,1.6,0.2,1,0,0
47,setosa,4.6,3.2,1.4,0.2,1,0,0
48,setosa,5.3,3.7,1.5,0.2,1,0,0
49,setosa,5.0,3.3,1.4,0.2,1,0,0
50,versicolor,7.0,3.2,4.7,1.4,0,1,0
51,versicolor,6.4,3.2,4.5,1.5,0,1,0
52,versicolor,6.9,3.1,4.9,1.5,0,1,0
53,versicolor,5.5,2.3,4.0,1.3,0,1,0
54,versicolor,6.5,2.8,4.6,1.5,0,1,0
55,versicolor,5.7,2.8,4.5,1.3,0,1,0
56,versicolor,6.3,3.3,4.7,1.6,0,1,0
57,versicolor,4.9,2.4,3.3,1.0,0,1,0
58,versicolor,6.6,2.9,4.6,1.3,0,1,0
59,versicolor,5.2,2.7,3.9,1.4,0,1,0
60,versicolor,5.0,2.0,3.5,1.0,0,1,0
61,versicolor,5.9,3.0,4.2,1.5,0,1,0
62,versicolor,6.0,2.2,4.0,1.0,0,1,0
63,versicolor,6.1,2.9,4.7,1.4,0,1,0
64,versicolor,5.6,2.9,3.6,1.3,0,1,0
65,versicolor,6.7,3.1,4.4,1.4,0,1,0
66,versicolor,5.6,3.0,4.5,1.5,0,1,0
67,versicolor,5.8,2.7,4.1,1.0,0,1,0
68,versicolor,6.2,2.2,4.5,1.5,0,1,0
69,versicolor,5.6,2.5,3.9,1.1,0,1,0
70,versicolor,5.9,3.2,4.8,1.8,0,1,0
71,versicolor,6.1,2.8,4.0,1.3,0,1,0
72,versicolor,6.3,2.5,4.9,1.5,0,1,0
73,versicolor,6.1,2.8,4.7,1.2,0,1,0
74,versicolor,6.4,2.9,4.3,1.3,0,1,0
75,versicolor,6.6,3.0,4.4,1.4,0,1,0
76,versicolor,6.8,2.8,4.8,1.4,0,1,0
77,versicolor,6.7,3.0,5.0,1.7,0,1,0
78,versicolor,6.0,2.9,4.5,1.5,0,1,0
79,versicolor,5.7,2.6,3.5,1.0,0,1,0
80,versicolor,5.5,2.4,3.8,1.1,0,1,0
81,versicolor,5.5,2.4,3.7,1.0,0,1,0
82,versicolor,5.8,2.7,3.9,1.2,0,1,0
83,versicolor,6.0,2.7,5.1,1.6,0,1,0
84,versicolor,5.4,3.0,4.5,1.5,0,1,0
85,versicolor,6.0,3.4,4.5,1.6,0,1,0
86,versicolor,6.7,3.1,4.7,1.5,0,1,0
87,versicolor,6.3,2.3,4.4,1.3,0,1,0
88,versicolor,5.6,3.0,4.1,1.3,0,1,0
89,versicolor,5.5,2.5,4.0,1.3,0,1,0
90,versicolor,5.5,2.6,4.4,1.2,0,1,0
91,versicolor,6.1,3.0,4.6,1.4,0,1,0
92,versicolor,5.8,2.6,4.0,1.2,0,1,0
93,versicolor,5.0,2.3,3.3,1.0,0,1,0
94,versicolor,5.6,2.7,4.2,1.3,0,1,0
95,versicolor,5.7,3.0,4.2,1.2,0,1,0
96,versicolor,5.7,2.9,4.2,1.3,0,1,0
97,versicolor,6.2,2.9,4.3,1.3,0,1,0
98,versicolor,5.1,2.5,3.0,1.1,0,1,0
99,versicolor,5.7,2.8,4.1,1.3,0,1,0
100,virginica,6.3,3.3,6.0,2.5,0,0,1
101,virginica,5.8,2.7,5.1,1.9,0,0,1
102,virginica,7.1,3.0,5.9,2.1,0,0,1
103,virginica,6.3,2.9,5.6,1.8,0,0,1
104,virginica,6.5,3.0,5.8,2.2,0,0,1
105,virginica,7.6,3.0,6.6,2.1,0,0,1
106,virginica,4.9,2.5,4.5,1.7,0,0,1
107,virginica,7.3,2.9,6.3,1.8,0,0,1
108,virginica,6.7,2.5,5.8,1.8,0,0,1
109,virginica,7.2,3.6,6.1,2.5,0,0,1
110,virginica,6.5,3.2,5.1,2.0,0,0,1
111,virginica,6.4,2.7,5.3,1.9,0,0,1
112,virginica,6.8,3.0,5.5,2.1,0,0,1
113,virginica,5.7,2.5,5.0,2.0,0,0,1
114,virginica,5.8,2.8,5.1,2.4,0,0,1
115,virginica,6.4,3.2,5.3,2.3,0,0,1
116,virginica,6.5,3.0,5.5,1.8,0,0,1
117,virginica,7.7,3.8,6.7,2.2,0,0,1
118,virginica,7.7,2.6,6.9,2.3,0,0,1
119,virginica,6.0,2.2,5.0,1.5,0,0,1
120,virginica,6.9,3.2,5.7,2.3,0,0,1
121,virginica,5.6,2.8,4.9,2.0,0,0,1
122,virginica,7.7,2.8,6.7,2.0,0,0,1
123,virginica,6.3,2.7,4.9,1.8,0,0,1
124,virginica,6.7,3.3,5.7,2.1,0,0,1
125,virginica,7.2,3.2,6.0,1.8,0,0,1
126,virginica,6.2,2.8,4.8,1.8,0,0,1
127,virginica,6.1,3.0,4.9,1.8,0,0,1
128,virginica,6.4,2.8,5.6,2.1,0,0,1
129,virginica,7.2,3.0,5.8,1.6,0,0,1
130,virginica,7.4,2.8,6.1,1.9,0,0,1
131,virginica,7.9,3.8,6.4,2.0,0,0,1
132,virginica,6.4,2.8,5.6,2.2,0,0,1
133,virginica,6.3,2.8,5.1,1.5,0,0,1
134,virginica,6.1,2.6,5.6,1.4,0,0,1
135,virginica,7.7,3.0,6.1,2.3,0,0,1
136,virginica,6.3,3.4,5.6,2.4,0,0,1
137,virginica,6.4,3.1,5.5,1.8,0,0,1
138,virginica,6.0,3.0,4.8,1.8,0,0,1
139,virginica,6.9,3.1,5.4,2.1,0,0,1
140,virginica,6.7,3.1,5.6,2.4,0,0,1
141,virginica,6.9,3.1,5.1,2.3,0,0,1
142,virginica,5.8,2.7,5.1,1.9,0,0,1
143,virginica,6.8,3.2,5.9,2.3,0,0,1
144,virginica,6.7,3.3,5.7,2.5,0,0,1
145,virginica,6.7,3.0,5.2,2.3,0,0,1
146,virginica,6.3,2.5,5.0,1.9,0,0,1
147,virginica,6.5,3.0,5.2,2.0,0,0,1
148,virginica,6.2,3.4,5.4,2.3,0,0,1
149,virginica,5.9,3.0,5.1,1.8,0,0,1

Using the Titanic dataset

Use the function defined in acquire.py to load the Titanic data.

Drop any unnecessary, unhelpful, or duplicated columns.

Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [57]:
titanic_db = acquire.csv_titanic_data()

In [58]:
titanic_db.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [59]:
titanic_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  891 non-null    int64
 1   survived      891 non-null    int64
 2   pclass        891 non-null    int64
 3   sex           891 non-null    object
 4   age           714 non-null    float64
 5   sibsp         891 non-null    int64
 6   parch         891 non-null    int64
 7   fare          891 non-null    float64
 8   embarked      889 non-null    object
 9   class         891 non-null    object
 10  deck          203 non-null    object
 11  embark_town   889 non-null    object
 12  alone         891 non-null    int64
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB

In [60]:
titanic_db = titanic_db.drop(columns=['class', 'embarked','age','deck'])

In [61]:
titanic_db.head()

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone
0,0,0,3,male,1,0,7.2500,Southampton,0
1,1,1,1,female,1,0,71.2833,Cherbourg,0
2,2,1,3,female,0,0,7.9250,Southampton,1
3,3,1,1,female,1,0,53.1000,Southampton,0
4,4,0,3,male,0,0,8.0500,Southampton,1

In [62]:
dummy_titanic = pd.get_dummies(titanic_db[['sex', 'embark_town']], dummy_na=False, drop_first=True)

In [63]:
titanic_db = pd.concat([titanic_db, dummy_titanic], axis=1)

In [66]:
titanic_db['embark_town'] = titanic_db.embark_town.fillna(value='Southampton')

In [67]:
titanic_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   passenger_id             891 non-null    int64
 1   survived                 891 non-null    int64
 2   pclass                   891 non-null    int64
 3   sex                      891 non-null    object
 4   sibsp                    891 non-null    int64
 5   parch                    891 non-null    int64
 6   fare                     891 non-null    float64
 7   embark_town              891 non-null    object
 8   alone                    891 non-null    int64
 9   sex_male                 891 non-null    uint8
 10  embark_town_Queenstown   891 non-null    uint8
 11  embark_town_Southampton  891 non-null    uint8
dtypes: float64(1), int64(6), object(2), uint8(3)
memory usage: 65.4+ KB

In [68]:
def prep_titanic():
    titanic_db = acquire.csv_titanic_data()
    titanic_db = titanic_db.drop(columns=['class', 'embarked','age','deck'])
    dummy_titanic = pd.get_dummies(titanic_db[['sex', 'embark_town']], dummy_na=False, drop_first=True)
    titanic_db = pd.concat([titanic_db, dummy_titanic], axis=1)
    titanic_db['embark_town'] = titanic_db.embark_town.fillna(value='Southampton')
    return titanic_db

In [69]:
prep_titanic()

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,male,1,0,7.2500,Southampton,0,1,0,1
1,1,1,1,female,1,0,71.2833,Cherbourg,0,0,0,0
2,2,1,3,female,0,0,7.9250,Southampton,1,0,0,1
3,3,1,1,female,1,0,53.1000,Southampton,0,0,0,1
4,4,0,3,male,0,0,8.0500,Southampton,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,0,0,13.0000,Southampton,1,1,0,1
887,887,1,1,female,0,0,30.0000,Southampton,1,0,0,1
888,888,0,3,female,1,2,23.4500,Southampton,0,0,0,1
889,889,1,1,male,0,0,30.0000,Cherbourg,1,1,0,0
890,890,0,3,male,0,0,7.7500,Queenstown,1,1,1,0

Using the Telco dataset

Use the function defined in acquire.py to load the Telco data.

Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [70]:
telco = acquire.csv_telco_data()
telco.head()

,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,...,payment_type_id,monthly_charges,total_charges,churn,contract_type_id.1,paperless_billing.1,payment_type_id.1,monthly_charges.1,total_charges.1,internet_service_type
0,1,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,...,2,65.6,593.3,No,2,Yes,2,65.6,593.3,DSL
1,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,...,2,59.9,542.4,No,1,No,2,59.9,542.4,DSL
2,2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,...,1,73.9,280.85,Yes,1,Yes,1,73.9,280.85,Fiber optic
3,2,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,...,1,98.0,1237.85,Yes,1,Yes,1,98.0,1237.85,Fiber optic
4,2,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,...,2,83.9,267.4,Yes,1,Yes,2,83.9,267.4,Fiber optic

In [71]:
telco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   internet_service_type_id  7043 non-null   int64
 1   customer_id               7043 non-null   object
 2   gender                    7043 non-null   object
 3   senior_citizen            7043 non-null   int64
 4   partner                   7043 non-null   object
 5   dependents                7043 non-null   object
 6   tenure                    7043 non-null   int64
 7   phone_service             7043 non-null   object
 8   multiple_lines            7043 non-null   object
 9   online_security           7043 non-null   object
 10  online_backup             7043 non-null   object
 11  device_protection         7043 non-null   object
 12  tech_support              7043 non-null   object
 13  streaming_tv              7043 non-null   object
 14  streaming_movies          7043 non-null   object
 15  contract_type_id          7043 non-null   int64
 16  paperless_billing         7043 non-null   object
 17  payment_type_id           7043 non-null   int64
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  contract_type_id.1        7043 non-null   int64
 22  paperless_billing.1       7043 non-null   object
 23  payment_type_id.1         7043 non-null   int64
 24  monthly_charges.1         7043 non-null   float64
 25  total_charges.1           7043 non-null   object
 26  internet_service_type     7043 non-null   object
dtypes: float64(2), int64(7), object(18)
memory usage: 1.5+ MB

In [73]:
telco = telco.drop(columns=['internet_service_type_id','contract_type_id.1','payment_type_id.1','paperless_billing.1','monthly_charges.1','total_charges.1'])

In [74]:
telco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            7043 non-null   object
 1   gender                 7043 non-null   object
 2   senior_citizen         7043 non-null   int64
 3   partner                7043 non-null   object
 4   dependents             7043 non-null   object
 5   tenure                 7043 non-null   int64
 6   phone_service          7043 non-null   object
 7   multiple_lines         7043 non-null   object
 8   online_security        7043 non-null   object
 9   online_backup          7043 non-null   object
 10  device_protection      7043 non-null   object
 11  tech_support           7043 non-null   object
 12  streaming_tv           7043 non-null   object
 13  streaming_movies       7043 non-null   object
 14  contract_type_id       7043 non-null   int64
 15  paperless_billing      7043 non-null   object
 16  payment_type_id        7043 non-null   int64
 17  monthly_charges        7043 non-null   float64
 18  total_charges          7043 non-null   object
 19  churn                  7043 non-null   object
 20  internet_service_type  7043 non-null   object
dtypes: float64(1), int64(4), object(16)
memory usage: 1.1+ MB

In [79]:
telco.customer_id.isnull().value_counts()

False    7043
Name: customer_id, dtype: int64

In [80]:
telco = telco.drop_duplicates()

In [90]:
telco['customer_id'] = telco.customer_id.str.slice(stop=4).astype(int)

In [91]:
telco.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            7043 non-null   int64
 1   gender                 7043 non-null   object
 2   senior_citizen         7043 non-null   int64
 3   partner                7043 non-null   object
 4   dependents             7043 non-null   object
 5   tenure                 7043 non-null   int64
 6   phone_service          7043 non-null   object
 7   multiple_lines         7043 non-null   object
 8   online_security        7043 non-null   object
 9   online_backup          7043 non-null   object
 10  device_protection      7043 non-null   object
 11  tech_support           7043 non-null   object
 12  streaming_tv           7043 non-null   object
 13  streaming_movies       7043 non-null   object
 14  contract_type_id       7043 non-null   int64
 15  paperless_billing      7043 non-null   object
 16  payment_type_id        7043 non-null   int64
 17  monthly_charges        7043 non-null   float64
 18  total_charges          7043 non-null   object
 19  churn                  7043 non-null   object
 20  internet_service_type  7043 non-null   object
dtypes: float64(1), int64(5), object(15)
memory usage: 1.2+ MB

In [105]:
telco['total_charges'] = telco.total_charges.str.replace('$','').str.replace(',','').str.replace(' ','').fillna(0)

/var/folders/5g/xrhpsnj56_v3scw9s4trbgxc0000gn/T/ipykernel_3803/3933133719.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  telco['total_charges'] = telco.total_charges.str.replace('$','').str.replace(',','').str.replace(' ','').fillna(0)

In [107]:
telco['total_charges'] = pd.to_numeric(telco.total_charges)

In [108]:
telco.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            7043 non-null   int64
 1   gender                 7043 non-null   object
 2   senior_citizen         7043 non-null   int64
 3   partner                7043 non-null   object
 4   dependents             7043 non-null   object
 5   tenure                 7043 non-null   int64
 6   phone_service          7043 non-null   object
 7   multiple_lines         7043 non-null   object
 8   online_security        7043 non-null   object
 9   online_backup          7043 non-null   object
 10  device_protection      7043 non-null   object
 11  tech_support           7043 non-null   object
 12  streaming_tv           7043 non-null   object
 13  streaming_movies       7043 non-null   object
 14  contract_type_id       7043 non-null   int64
 15  paperless_billing      7043 non-null   object
 16  payment_type_id        7043 non-null   int64
 17  monthly_charges        7043 non-null   float64
 18  total_charges          7032 non-null   float64
 19  churn                  7043 non-null   object
 20  internet_service_type  7043 non-null   object
dtypes: float64(2), int64(5), object(14)
memory usage: 1.2+ MB

In [112]:
dummy_telco = pd.get_dummies(telco[['gender','partner','dependents','phone_service','multiple_lines','online_security','online_backup','device_protection','tech_support','streaming_tv','streaming_movies','paperless_billing','churn','internet_service_type']], drop_first=True)

In [114]:
dummy_telco.head()

,gender_Male,partner_Yes,dependents_Yes,phone_service_Yes,multiple_lines_No phone service,multiple_lines_Yes,online_security_No internet service,online_security_Yes,online_backup_No internet service,online_backup_Yes,...,tech_support_No internet service,tech_support_Yes,streaming_tv_No internet service,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,paperless_billing_Yes,churn_Yes,internet_service_type_Fiber optic,internet_service_type_None
0,0,1,1,1,0,0,0,0,0,1,...,0,1,0,1,0,0,1,0,0,0
1,1,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,0
3,1,1,0,1,0,0,0,0,0,1,...,0,0,0,1,0,1,1,1,1,0
4,0,1,0,1,0,0,0,0,0,0,...,0,1,0,1,0,0,1,1,1,0

In [115]:
telco = pd.concat([telco, dummy_telco], axis=1)
telco

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support_No internet service,tech_support_Yes,streaming_tv_No internet service,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,paperless_billing_Yes,churn_Yes,internet_service_type_Fiber optic,internet_service_type_None
0,2,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,0,1,0,1,0,0,1,0,0,0
1,3,Male,0,No,No,9,Yes,Yes,No,No,...,0,0,0,0,0,1,0,0,0,0
2,4,Male,0,No,No,4,Yes,No,No,No,...,0,0,0,0,0,0,1,1,1,0
3,11,Male,1,Yes,No,13,Yes,No,No,Yes,...,0,0,0,1,0,1,1,1,1,0
4,13,Female,1,Yes,No,3,Yes,No,No,No,...,0,1,0,1,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9282,Female,0,No,No,1,Yes,Yes,No,No,...,0,0,0,0,0,1,1,1,1,0
7039,9462,Male,0,No,No,4,Yes,Yes,No,No,...,0,0,0,0,0,0,0,1,0,0
7040,9705,Female,0,Yes,Yes,13,Yes,No,Yes,No,...,0,1,0,0,0,0,0,0,0,0
7041,9777,Male,0,Yes,Yes,64,Yes,Yes,Yes,No,...,0,0,0,0,0,1,0,0,1,0
7042,9809,Male,1,No,No,22,Yes,Yes,No,No,...,0,0,0,1,0,1,1,1,1,0

In [116]:
telco.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 43 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   customer_id                            7043 non-null   int64
 1   gender                                 7043 non-null   object
 2   senior_citizen                         7043 non-null   int64
 3   partner                                7043 non-null   object
 4   dependents                             7043 non-null   object
 5   tenure                                 7043 non-null   int64
 6   phone_service                          7043 non-null   object
 7   multiple_lines                         7043 non-null   object
 8   online_security                        7043 non-null   object
 9   online_backup                          7043 non-null   object
 10  device_protection                      7043 non-null   object
 11  tech_support                           7043 non-null   object
 12  streaming_tv                           7043 non-null   object
 13  streaming_movies                       7043 non-null   object
 14  contract_type_id                       7043 non-null   int64
 15  paperless_billing                      7043 non-null   object
 16  payment_type_id                        7043 non-null   int64
 17  monthly_charges                        7043 non-null   float64
 18  total_charges                          7032 non-null   float64
 19  churn                                  7043 non-null   object
 20  internet_service_type                  7043 non-null   object
 21  gender_Male                            7043 non-null   uint8
 22  partner_Yes                            7043 non-null   uint8
 23  dependents_Yes                         7043 non-null   uint8
 24  phone_service_Yes                      7043 non-null   uint8
 25  multiple_lines_No phone service        7043 non-null   uint8
 26  multiple_lines_Yes                     7043 non-null   uint8
 27  online_security_No internet service    7043 non-null   uint8
 28  online_security_Yes                    7043 non-null   uint8
 29  online_backup_No internet service      7043 non-null   uint8
 30  online_backup_Yes                      7043 non-null   uint8
 31  device_protection_No internet service  7043 non-null   uint8
 32  device_protection_Yes                  7043 non-null   uint8
 33  tech_support_No internet service       7043 non-null   uint8
 34  tech_support_Yes                       7043 non-null   uint8
 35  streaming_tv_No internet service       7043 non-null   uint8
 36  streaming_tv_Yes                       7043 non-null   uint8
 37  streaming_movies_No internet service   7043 non-null   uint8
 38  streaming_movies_Yes                   7043 non-null   uint8
 39  paperless_billing_Yes                  7043 non-null   uint8
 40  churn_Yes                              7043 non-null   uint8
 41  internet_service_type_Fiber optic      7043 non-null   uint8
 42  internet_service_type_None             7043 non-null   uint8
dtypes: float64(2), int64(5), object(14), uint8(22)
memory usage: 1.3+ MB

In [117]:
telco = telco.drop(columns=['gender','partner','dependents','phone_service','multiple_lines','online_security','online_backup','device_protection','tech_support','streaming_tv','streaming_movies','paperless_billing','churn','internet_service_type'])

In [118]:
telco.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 29 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   customer_id                            7043 non-null   int64
 1   senior_citizen                         7043 non-null   int64
 2   tenure                                 7043 non-null   int64
 3   contract_type_id                       7043 non-null   int64
 4   payment_type_id                        7043 non-null   int64
 5   monthly_charges                        7043 non-null   float64
 6   total_charges                          7032 non-null   float64
 7   gender_Male                            7043 non-null   uint8
 8   partner_Yes                            7043 non-null   uint8
 9   dependents_Yes                         7043 non-null   uint8
 10  phone_service_Yes                      7043 non-null   uint8
 11  multiple_lines_No phone service        7043 non-null   uint8
 12  multiple_lines_Yes                     7043 non-null   uint8
 13  online_security_No internet service    7043 non-null   uint8
 14  online_security_Yes                    7043 non-null   uint8
 15  online_backup_No internet service      7043 non-null   uint8
 16  online_backup_Yes                      7043 non-null   uint8
 17  device_protection_No internet service  7043 non-null   uint8
 18  device_protection_Yes                  7043 non-null   uint8
 19  tech_support_No internet service       7043 non-null   uint8
 20  tech_support_Yes                       7043 non-null   uint8
 21  streaming_tv_No internet service       7043 non-null   uint8
 22  streaming_tv_Yes                       7043 non-null   uint8
 23  streaming_movies_No internet service   7043 non-null   uint8
 24  streaming_movies_Yes                   7043 non-null   uint8
 25  paperless_billing_Yes                  7043 non-null   uint8
 26  churn_Yes                              7043 non-null   uint8
 27  internet_service_type_Fiber optic      7043 non-null   uint8
 28  internet_service_type_None             7043 non-null   uint8
dtypes: float64(2), int64(5), uint8(22)
memory usage: 591.5 KB

In [119]:
def prep_telco():
    telco = acquire.csv_telco_data()
    telco = telco.drop(columns=['internet_service_type_id','contract_type_id.1','payment_type_id.1','paperless_billing.1','monthly_charges.1','total_charges.1'])
    telco['customer_id'] = telco.customer_id.str.slice(stop=4).astype(int)
    telco['total_charges'] = telco.total_charges.str.replace('$','').str.replace(',','').str.replace(' ','').fillna(0)
    telco['total_charges'] = pd.to_numeric(telco.total_charges)
    dummy_telco = pd.get_dummies(telco[['gender','partner','dependents','phone_service','multiple_lines','online_security','online_backup','device_protection','tech_support','streaming_tv','streaming_movies','paperless_billing','churn','internet_service_type']], drop_first=True)
    telco = pd.concat([telco, dummy_telco], axis=1)
    telco = telco.drop(columns=['gender','partner','dependents','phone_service','multiple_lines','online_security','online_backup','device_protection','tech_support','streaming_tv','streaming_movies','paperless_billing','churn','internet_service_type'])
    return telco

In [120]:
prep_telco()

/var/folders/5g/xrhpsnj56_v3scw9s4trbgxc0000gn/T/ipykernel_3803/1818124005.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  telco['total_charges'] = telco.total_charges.str.replace('$','').str.replace(',','').str.replace(' ','').fillna(0)

,customer_id,senior_citizen,tenure,contract_type_id,payment_type_id,monthly_charges,total_charges,gender_Male,partner_Yes,dependents_Yes,...,tech_support_No internet service,tech_support_Yes,streaming_tv_No internet service,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,paperless_billing_Yes,churn_Yes,internet_service_type_Fiber optic,internet_service_type_None
0,2,0,9,2,2,65.60,593.30,0,1,1,...,0,1,0,1,0,0,1,0,0,0
1,3,0,9,1,2,59.90,542.40,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2,4,0,4,1,1,73.90,280.85,1,0,0,...,0,0,0,0,0,0,1,1,1,0
3,11,1,13,1,1,98.00,1237.85,1,1,0,...,0,0,0,1,0,1,1,1,1,0
4,13,1,3,1,2,83.90,267.40,0,1,0,...,0,1,0,1,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9282,0,1,1,1,85.00,85.00,0,0,0,...,0,0,0,0,0,1,1,1,1,0
7039,9462,0,4,1,2,50.40,206.60,1,0,0,...,0,0,0,0,0,0,0,1,0,0
7040,9705,0,13,2,3,54.15,701.05,0,1,1,...,0,1,0,0,0,0,0,0,0,0
7041,9777,0,64,3,3,93.40,5822.30,1,1,1,...,0,0,0,0,0,1,0,0,1,0
7042,9809,1,22,1,1,96.70,2082.95,1,0,0,...,0,0,0,1,0,1,1,1,1,0

Split your data

Write a function to split your data into train, test and validate datasets. Add this function to prepare.py.

Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.

Run the function on the Titanic dataset, returning 3 datasets, train_titanic, validate_titanic and test_titanic.

Run the function on the Telco dataset, returning 3 datasets, train_telco, validate_telco and test_telco.

In [121]:
from sklearn.model_selection import train_test_split

In [122]:
train, test = train_test_split(df_iris, test_size=.2, random_state=123, stratify=df_iris.species)

In [123]:
train.shape

(120, 8)

In [124]:
test.shape

(30, 8)

In [125]:
train, validate = train_test_split(train, test_size=.25, 
                 random_state=123, stratify=train.species)

In [126]:
train.shape

(90, 8)

In [127]:
validate.shape

(30, 8)

In [198]:
def split_data(df, column):
    '''This function takes in two arguments, a dataframe and a string. The string argument is the name of the
        column that will be used to stratify the train_test_split. The function returns three dataframes, a 
        training dataframe with 60 percent of the data, a validate dataframe with 20 percent of the data and test
        dataframe with 20 percent of the data.'''
    train, test = train_test_split(df, test_size=.2, random_state=217, stratify=df[column])
    train, validate = train_test_split(train, test_size=.25, random_state=217, stratify=train[column])
    return train, validate, test

In [199]:
#def split_iris_data(df):
#    '''
#    Takes in a dataframe and return train, validate, test subset dataframes
#    '''
#    train_iris, test_iris = train_test_split(df, test_size=.2, 
#                               random_state=123, stratify=df_iris.species)
#    train_iris, validate_iris = train_test_split(train_iris, test_size=.25, 
#                 random_state=123, stratify=train_iris.species)
    
#    return train_iris, validate_iris, test_iris

In [201]:
train_iris, validate_iris, test_iris = split_data(df_iris, 'species')

In [202]:
train_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 102 to 43
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   species             90 non-null     object
 1   sepal_length        90 non-null     float64
 2   sepal_width         90 non-null     float64
 3   petal_length        90 non-null     float64
 4   petal_width         90 non-null     float64
 5   species_setosa      90 non-null     uint8
 6   species_versicolor  90 non-null     uint8
 7   species_virginica   90 non-null     uint8
dtypes: float64(4), object(1), uint8(3)
memory usage: 4.5+ KB

In [140]:
#def split_titanic_data(df):
#    train_titanic, test_titanic = train_test_split(df, test_size=.2, random_state=123, stratify=titanic_db.survived)
#    train_titanic, validate_titanic = train_test_split(train_titanic, test_size=.25, random_state=123, stratify=train_titanic.survived)
    
#    return train_titanic, validate_titanic, test_titanic

In [164]:
train_titanic, validate_titanic, test_titanic = split_data(titanic_db)

Stratify column: survived

In [165]:
train_titanic.head()

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
782,782,0,1,male,0,0,30.0000,Southampton,1,1,0,1
643,643,1,3,male,0,0,56.4958,Southampton,1,1,0,1
815,815,0,1,male,0,0,0.0000,Southampton,1,1,0,1
633,633,0,1,male,0,0,0.0000,Southampton,1,1,0,1
411,411,0,3,male,0,0,6.8583,Queenstown,1,1,1,0

In [144]:
#def split_telco_data(df):
#    train_telco, test_telco = train_test_split(df, test_size=.2, random_state=123, stratify=telco.contract_type_id)
#    train_telco, validate_telco = train_test_split(train_telco, test_size=.25, random_state=123, stratify=train_telco.contract_type_id)
    
#    return train_telco, validate_telco, test_telco

In [156]:
train_telco, validate_telco, test_telco = split_data(telco)

Stratify column: contract_type_id

In [158]:
train_telco.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4225 entries, 2604 to 5636
Data columns (total 29 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   customer_id                            4225 non-null   int64
 1   senior_citizen                         4225 non-null   int64
 2   tenure                                 4225 non-null   int64
 3   contract_type_id                       4225 non-null   int64
 4   payment_type_id                        4225 non-null   int64
 5   monthly_charges                        4225 non-null   float64
 6   total_charges                          4220 non-null   float64
 7   gender_Male                            4225 non-null   uint8
 8   partner_Yes                            4225 non-null   uint8
 9   dependents_Yes                         4225 non-null   uint8
 10  phone_service_Yes                      4225 non-null   uint8
 11  multiple_lines_No phone service        4225 non-null   uint8
 12  multiple_lines_Yes                     4225 non-null   uint8
 13  online_security_No internet service    4225 non-null   uint8
 14  online_security_Yes                    4225 non-null   uint8
 15  online_backup_No internet service      4225 non-null   uint8
 16  online_backup_Yes                      4225 non-null   uint8
 17  device_protection_No internet service  4225 non-null   uint8
 18  device_protection_Yes                  4225 non-null   uint8
 19  tech_support_No internet service       4225 non-null   uint8
 20  tech_support_Yes                       4225 non-null   uint8
 21  streaming_tv_No internet service       4225 non-null   uint8
 22  streaming_tv_Yes                       4225 non-null   uint8
 23  streaming_movies_No internet service   4225 non-null   uint8
 24  streaming_movies_Yes                   4225 non-null   uint8
 25  paperless_billing_Yes                  4225 non-null   uint8
 26  churn_Yes                              4225 non-null   uint8
 27  internet_service_type_Fiber optic      4225 non-null   uint8
 28  internet_service_type_None             4225 non-null   uint8
dtypes: float64(2), int64(5), uint8(22)
memory usage: 354.8 KB